raw_data/
processed_data/

# Jupyter Notebook #
.ipynb_checkpoints/
.pytest_cache
__pycache__
*checkpoint.ipynb

.DS_Store  # macOS
Thumbs.db  # Windows

.env

*.egg-info/

# Large files
*.joblib
*.pkl
