# Minimal requirements
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn

# HTTP
requests

# File utilities
pathlib

# Frontend
streamlit

# Barcode
pyzbar
opencv-python-headless

# Prettify
tabulate

# Jupyter
nbdime

# Setup
setuptools

# Models
joblib

# Deployment
fastapi
uvicorn

#.env
python-dotenv

openai==0.28

BeautifulSoup4

google.cloud.vision
