# Minimal requirements
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn

# Stats
scipy

# HTTP
requests

# File utilities
pathlib

# Frontend
streamlit

# Barcode
pyzbar
opencv-python

# Prettify
tabulate

# Jupyter
nbdime

# Setup
setuptools

# BERT
transformers

# Model
xgboost
